 nav {
     font-size: larger;
}

 body {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 #heroSection {
     display: flex;
     flex-wrap: wrap;
     margin-left: 20%;
     text-align: center;
     align-content: center;
     justify-content: center;
     margin-top: 10%;
}

 #mountainInfo,
 #nationalPark {
     display: flex;
     flex-wrap: wrap;
     margin-top: 9%;


}

 #nationalPark {
     direction: rtl;
     justify-content: space-between;
     align-content: flex-start;

}

 #nationalParkHome {
     direction: ltr;
     margin-top: 6%;

}

 #mountainInfoHome {
     direction: ltr;
     margin-top: 5%;
}

 #mountainInfo {
     direction: ltr;
     justify-content: space-between;
     align-content: flex-end;
     margin-bottom: 8%;
     align-items: flex-end;

}


.card{
   background: linear-gradient(to right, #99ccff,rgb(176, 233, 176),white,rgb(189, 170, 135),rgb(202, 148, 202), orange) ;

   display:flex;
   flex-direction: row;
   flex-wrap: nowrap;
   width: 52%;
   height:93%
 



}


